<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photographers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <ul style="margin: 20px;">
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-LIGHT';">font-family: 'Conv_PROXIMANOVA-LIGHT';</li>
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-SEMIBOLD';">font-family: 'Conv_PROXIMANOVA-SEMIBOLD';</li>
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-BOLD';">font-family: 'Conv_PROXIMANOVA-BOLD';</li>
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-BLACK';">font-family: 'Conv_PROXIMANOVA-BLACK';</li>
    </ul>
    <ul style="margin: 20px;">
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-THINIT';">font-family: 'Conv_PROXIMANOVA-THINIT';</li>
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-LIGHTIT';">font-family: 'Conv_PROXIMANOVA-LIGHTIT';</li>
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-REGULARIT';">font-family: 'Conv_PROXIMANOVA-REGULARIT';</li>
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-SEMIBOLDIT';">font-family: 'Conv_PROXIMANOVA-SEMIBOLDIT';</li>
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-BOLDIT';">font-family: 'Conv_PROXIMANOVA-BOLDIT';</li>
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-BLACKIT';">font-family: 'Conv_PROXIMANOVA-BLACKIT';</li>
        <li style="font-size: 26px; font-family: 'Conv_PROXIMANOVA-EXTRABLDIT';">font-family: 'Conv_PROXIMANOVA-EXTRABLDIT';</li>
    </ul>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>