<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photographers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="check-entrance clearfix">
                    <a class="check" href="javasccript:void(0)"><i class="icon-icon36"></i>Вход</a>
                    <a class="entrance" href="javasccript:void(0)"><i class="icon-icon5"></i>Регистрация</a>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                    <span></span>
                    </span>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form action="">
                        <input type="search">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav>
                        <ul>
                            <li class="active"><a href="javasccript:void(0)">Специалисты</a></li>
                            <li><a href="javasccript:void(0)">Организации</a></li>
                            <li><a href="javasccript:void(0)">События</a></li>
                            <li><a href="javasccript:void(0)">Магазин</a></li>
                            <li><a href="javasccript:void(0)">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Профиль</span></li>
            </ul>
        </div>
    </div>

    <section class="profile">
        <div class="container clearfix">
            <div class="profile-menu">
                <ul>
                    <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a></li>
                    <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                </ul>
            </div>
            <div class="profile-messages">
                <div class="projects-nav">
                    <div class="nav">
                        <ul>
                            <li class="active"><a href="javascript:void(0)">Все сообщение</a></li>
                            <li><a href="javascript:void(0)">Непрочитанные 3</a></li>
                            <li><a href="javascript:void(0)">Важные сообщения</a></li>
                        </ul>
                    </div>
                    <form class="clearfix">
                        <div class="search">
                            <input type="search" placeholder="Имя друга">
                            <button><i class="icon-icon25"></i></button>
                        </div>
                    </form>
                </div>
                <div class="messages-content">
                    <div class="messages-item">
                        <span class="del"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item1.png" alt="">
                            <div class="avatar-text">
                                <h4>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item2.png" alt="">
                            <div class="avatar-text">
                                <h4>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item3.png" alt="">
                            <div class="avatar-text">
                                <h4>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item4.png" alt="">
                            <div class="avatar-text">
                                <h4>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item5.png" alt="">
                            <div class="avatar-text">
                                <h4>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item4.png" alt="">
                            <div class="avatar-text">
                                <h4>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                    <div class="messages-item">
                        <span class="del"></span>
                        <div class="avatar clearfix">
                            <img src="../img/messages-item5.png" alt="">
                            <div class="avatar-text">
                                <h4>Иван Иванов</h4>
                                <span>18:09</span>
                            </div>
                        </div>
                        <div class="messages-text">
                            <p>Привет. Рад был с вами работать. Фотосессия прошла на отлично!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="javascript:void(0)">Специалисты</a></li>
                            <li><a href="javascript:void(0)">Организации</a></li>
                            <li><a href="javascript:void(0)">События</a></li>
                            <li><a href="javascript:void(0)">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/profile.min.js"></script>
</body>

</html>