<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photographers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="check-entrance clearfix">
                    <a class="check" href="javasccript:void(0)"><i class="icon-icon36"></i>Вход</a>
                    <a class="entrance" href="javasccript:void(0)"><i class="icon-icon5"></i>Регистрация</a>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                    <span></span>
                    </span>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form action="">
                        <input type="search">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav>
                        <ul>
                            <li class="active"><a href="javasccript:void(0)">Специалисты</a></li>
                            <li><a href="javasccript:void(0)">Организации</a></li>
                            <li><a href="javasccript:void(0)">События</a></li>
                            <li><a href="javasccript:void(0)">Магазин</a></li>
                            <li><a href="javasccript:void(0)">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Профиль</span></li>
            </ul>
        </div>
    </div>

    <section class="profile">
        <div class="container clearfix">
            <div class="profile-menu">
                <ul>
                    <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a></li>
                    <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                </ul>
            </div>
            <div class="profile-foto">
                <div class="projects-nav">
                    <div class="nav">
                        <ul>
                            <li class="active"><a href="javascript:void(0)">Мои альбомы 12</a></li>
                        </ul>
                        <a class="desc create-project" href="javascript:void(0)">Создать альбом</a>
                        <a class="desc create-project" href="javascript:void(0)">Добавить фотографии</a>
                    </div>
                    <a class="mabile create-project" href="javascript:void(0)">Создать альбом</a>
                    <a class="mabile create-project" href="javascript:void(0)">Добавить фотографии</a>
                </div>
                <div class="foto-content clearfix">
                    <div class="album">
                        <div class="album-items clearfix">
                            <div class="album-item" style="background: url('../img/album-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                                <a href="javascript:void(0)"></a>
                                <p>Пейзажи</p>
                            </div>
                            <div class="album-item" style="background: url('../img/album-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                                <a href="javascript:void(0)"></a>
                                <p>Art</p>
                            </div>
                            <div class="album-item" style="background: url('../img/album-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a href="javascript:void(0)"></a>
                                <p>Свадьбы</p>
                            </div>
                            <div class="album-item" style="background: url('../img/album-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a href="javascript:void(0)"></a>
                                <p>Портреты</p>
                            </div>
                            <div class="album-item" style="background: url('../img/album-item-img5.png') no-repeat 50% 50%; background-size: cover;">
                                <a href="javascript:void(0)"></a>
                                <p>Ню</p>
                            </div>
                            <div class="album-item" style="background: url('../img/album-item-img6.png') no-repeat 50% 50%; background-size: cover;">
                                <a href="javascript:void(0)"></a>
                                <p>Детские</p>
                            </div>
                        </div>
                        <a class="album-link" href="javascript:void(0)">Показать все 41 альбом</a>
                    </div>
                    <div class="foto-year">
                        <h5>2019 год</h5>
                        <div class="year-items">
                            <div class="year-item clearfix">
                                <div class="year-item-img" style="background: url('../img/year-item-img1.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img4.png') no-repeat 50% 50%; background-size: cover;"></div>
                            </div>
                            <div class="year-item clearfix">
                                <div class="year-item-img" style="background: url('../img/year-item-img5.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img6.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img7.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img8.png') no-repeat 50% 50%; background-size: cover;"></div>
                            </div>
                            <div class="year-item clearfix">
                                <div class="year-item-img" style="background: url('../img/year-item-img9.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img10.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img11.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img12.png') no-repeat 50% 50%; background-size: cover;"></div>
                            </div>
                            <div class="year-item clearfix">
                                <div class="year-item-img" style="background: url('../img/year-item-img13.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img14.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img15.png') no-repeat 50% 50%; background-size: cover;"></div>
                                <div class="year-item-img" style="background: url('../img/year-item-img16.png') no-repeat 50% 50%; background-size: cover;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="javascript:void(0)">Специалисты</a></li>
                            <li><a href="javascript:void(0)">Организации</a></li>
                            <li><a href="javascript:void(0)">События</a></li>
                            <li><a href="javascript:void(0)">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/profile.min.js"></script>
</body>

</html>