<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Карточка проекта для заказчика</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/project_сard-customer.css">
</head>

<body>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="check-entrance clearfix">
                    <a class="check" href="javasccript:void(0)"><i class="icon-icon36"></i>Вход</a>
                    <a class="entrance" href="javasccript:void(0)"><i class="icon-icon5"></i>Регистрация</a>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                    <span></span>
                    </span>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form action="">
                        <input type="search">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav>
                        <ul>
                            <li class="active"><a href="javasccript:void(0)">Специалисты</a></li>
                            <li><a href="javasccript:void(0)">Организации</a></li>
                            <li><a href="javasccript:void(0)">События</a></li>
                            <li><a href="javasccript:void(0)">Магазин</a></li>
                            <li><a href="javasccript:void(0)">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Проекты</span></li>
            </ul>
        </div>
    </div>

    <div class="projectsCard">
        <div class="container">
            <h2 class="projectsCard__heading">Необходимо снять на видео 8 мероприятий</h2>
            <div class="projectsCard__content">
                <div class="projectsCard__content-top">
                    <div class="author">
                        <div class="author-avatar">
                            <a href="javascript:void(0)">
                                <img src="../img/projects_page/avatar.png" alt="avatar">
                                <span class="status active"></span>
                            </a>
                        </div>
                        <div class="author-info">
                            <a href="javascript:void(0)" class="name">Иван Иванов </a>
                            <p class="city">Новосибирск</p>
                        </div>
                    </div>
                    <div class="rating">
                        <p>
                            Иван Иванов
                            <span>(5826 <i class="icon-icon1"></i>)</span>
                        </p>
                        <p>Положительных отзывов 100%</p>
                    </div>
                </div>
                <div class="projectsCard__content-text">
                    <h3>Необходимо снять на видео 8 мероприятий</h3>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба"
                        не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба"
                        не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <h4>Обязанности</h4>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба"
                        не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба"
                        не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <h5>Требования к кандидату, доп. информация</h5>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба"
                        не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                    <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба"
                        не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                </div>
                <div class="projectsCard__content-bottom">
                    <p class="price">Оплата: <span>3000 RUB</span></p>
                    <p class="applications">24 заявки</p>
                    <p class="openDays">Открыт 17 дней</p>
                </div>
            </div>
            <div class="projectsCard__documents">
                <div class="projectsCard__documents-top">
                    <p class="label">
                        <img src="../img/projects_page/docs.png" alt="image"> Приклепленные документы
                    </p>
                    <a href="javascript:void(0)" class="downloadBtn">Скачать все</a>
                </div>
                <div class="projectsCard__documents-slider">
                    <div class="documets-item">
                        <a href="../img/projects_page/doc1.jpg" target="_blank">
                            <img src="../img/projects_page/doc1.jpg" alt="image">
                        </a>
                        <p>jpg. Пример_1</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc2.png" target="_blank">
                            <img src="../img/projects_page/doc2.png" alt="image">
                        </a>
                        <p>jpg. Пример_2</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc3.png" target="_blank">
                            <img src="../img/projects_page/doc3.png" alt="image">
                        </a>
                        <p>pdf. Каталог Фирмы</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc4.png" target="_blank">
                            <img src="../img/projects_page/doc4.png" alt="image">
                        </a>
                        <p>jpg. Пример_3</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc5.png" target="_blank">
                            <img src="../img/projects_page/doc5.png" alt="image">
                        </a>
                        <p>jpg. Пример_4</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc6.png" target="_blank">
                            <img src="../img/projects_page/doc6.png" alt="image">
                        </a>
                        <p>jpg. Пример_5</p>
                    </div>
                    <div class="documets-item">
                        <a href="../img/projects_page/doc5.png" target="_blank">
                            <img src="../img/projects_page/doc5.png" alt="image">
                        </a>
                        <p>jpg. Пример_4</p>
                    </div>
                </div>
            </div>
            <div class="projectsCard__tabs">
                <div class="projectsCard__tabs-list">
                    <div data-tab="tab-item1" class="tabs-items active">
                        <p>Заявки на проект все</p>
                    </div>
                    <div data-tab="tab-item2" class="tabs-items">
                        <p>Cкрытые заявки</p>
                    </div>
                    <div data-tab="tab-item3" class="tabs-items">
                        <p>избранные заявки</p>
                    </div>
                </div>
                <div class="projectsCard__tabs-content">
                    <div class="tab-item tab-item1 active">
                        <div class="row">
                            <div class="tab-item_top">
                                <div class="author">
                                    <div class="author-avatar">
                                        <a href="javascript:void(0)">
                                            <img src="../img/search_page/spec4.jpg" alt="avatar">
                                            <span class="status active"></span>
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <a href="javascript:void(0)" class="name">Иван Иванов </a>
                                        <p class="city">Новосибирск</p>
                                    </div>
                                </div>
                                <div class="rating">
                                    <p>
                                        Иван Иванов
                                        <span>(5826 <i class="icon-icon1"></i>)</span>
                                    </p>
                                    <p>Положительных отзывов 100%</p>
                                </div>
                            </div>
                            <div class="tab-item_content">
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                            </div>
                            <div class="tab-item_btns">
                                <a class="btn check" href="javascript:void(0)">Выбрать исполнителя</a>
                                <a class="btn hide" href="javascript:void(0)">Скрыть заявку</a>
                                <a class="btn adding" href="javascript:void(0)">Добавить в избранное</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tab-item_top">
                                <div class="author">
                                    <div class="author-avatar">
                                        <a href="javascript:void(0)">
                                            <img src="../img/search_page/spec5.jpg" alt="avatar">
                                            <span class="status invisible"></span>
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <a href="javascript:void(0)" class="name">Иван Иванов </a>
                                        <p class="city">Новосибирск</p>
                                    </div>
                                </div>
                                <div class="rating">
                                    <p>
                                        Иван Иванов
                                        <span>(5826 <i class="icon-icon1"></i>)</span>
                                    </p>
                                    <p>Положительных отзывов 100%</p>
                                </div>
                            </div>
                            <div class="tab-item_content">
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                            </div>

                            <div class="projectsCard__documents">
                                <div class="projectsCard__documents-top">
                                    <p class="label">
                                        <img src="../img/projects_page/docs.png" alt="image"> Приклепленные документы
                                    </p>
                                    <a href="javascript:void(0)" class="downloadBtn">Скачать все</a>
                                </div>
                                <div class="projectsCard__documents-slider">
                                    <div class="documets-item">
                                        <a href="../img/projects_page/doc7.png" target="_blank">
                                            <img src="../img/projects_page/doc7.png" alt="image">
                                        </a>
                                        <p>jpg. Пример_1</p>
                                    </div>
                                    <div class="documets-item">
                                        <a href="../img/projects_page/doc8.png" target="_blank">
                                            <img src="../img/projects_page/doc8.png" alt="image">
                                        </a>
                                        <p>jpg. Пример_2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-item_btns">
                                <a class="btn check" href="javascript:void(0)">Выбрать исполнителя</a>
                                <a class="btn hide" href="javascript:void(0)">Скрыть заявку</a>
                                <a class="btn adding" href="javascript:void(0)">Добавить в избранное</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="tab-item_top">
                                <div class="author">
                                    <div class="author-avatar">
                                        <a href="javascript:void(0)">
                                            <img src="../img/projects_page/avatar3.png" alt="avatar">
                                            <span class="status invisible"></span>
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <a href="javascript:void(0)" class="name">Иван Иванов </a>
                                        <p class="city">Новосибирск</p>
                                    </div>
                                </div>
                                <div class="rating">
                                    <p>
                                        Иван Иванов
                                        <span>(5826 <i class="icon-icon1"></i>)</span>
                                    </p>
                                    <p>Положительных отзывов 100%</p>
                                </div>
                            </div>
                            <div class="tab-item_content">
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                            </div>
                            <div class="tab-item_btns">
                                <a class="btn check" href="javascript:void(0)">Выбрать исполнителя</a>
                                <a class="btn hide" href="javascript:void(0)">Скрыть заявку</a>
                                <a class="btn adding" href="javascript:void(0)">Добавить в избранное</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-item tab-item2">
                        <div class="row">
                            <div class="tab-item_top">
                                <div class="author">
                                    <div class="author-avatar">
                                        <a href="javascript:void(0)">
                                            <img src="../img/search_page/spec4.jpg" alt="avatar">
                                            <span class="status active"></span>
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <a href="javascript:void(0)" class="name">Иван Иванов </a>
                                        <p class="city">Новосибирск</p>
                                    </div>
                                </div>
                                <div class="rating">
                                    <p>
                                        Иван Иванов
                                        <span>(5826 <i class="icon-icon1"></i>)</span>
                                    </p>
                                    <p>Положительных отзывов 100%</p>
                                </div>
                            </div>
                            <div class="tab-item_content">
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                            </div>
                            <div class="tab-item_btns">
                                <a class="btn check" href="javascript:void(0)">Выбрать исполнителя</a>
                                <a class="btn hide" href="javascript:void(0)">Восстановить заявку</a>
                                <a class="btn adding" href="javascript:void(0)">Добавить в избранное</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-item tab-item3">
                        <div class="row">
                            <div class="tab-item_top">
                                <div class="author">
                                    <div class="author-avatar">
                                        <a href="javascript:void(0)">
                                            <img src="../img/search_page/spec4.jpg" alt="avatar">
                                            <span class="status active"></span>
                                        </a>
                                    </div>
                                    <div class="author-info">
                                        <a href="javascript:void(0)" class="name">Иван Иванов </a>
                                        <p class="city">Новосибирск</p>
                                    </div>
                                </div>
                                <div class="rating">
                                    <p>
                                        Иван Иванов
                                        <span>(5826 <i class="icon-icon1"></i>)</span>
                                    </p>
                                    <p>Положительных отзывов 100%</p>
                                </div>
                            </div>
                            <div class="tab-item_content">
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                                <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                                    "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.</p>
                            </div>
                            <div class="tab-item_btns">
                                <a class="btn check" href="javascript:void(0)">Выбрать исполнителя</a>
                                <a class="btn hide" href="javascript:void(0)">Cкрытые заявки</a>
                                <a class="btn adding" href="javascript:void(0)">Убрать из избранного</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="javascript:void(0)">Специалисты</a></li>
                            <li><a href="javascript:void(0)">Организации</a></li>
                            <li><a href="javascript:void(0)">События</a></li>
                            <li><a href="javascript:void(0)">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>

    <script src="../js/script.min.js"></script>
    <script src="../js/project_сard-customer.min.js"></script>
</body>

</html>