<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photographers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/score.css">
</head>

<body>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="check-entrance clearfix">
                    <a class="check" href="javasccript:void(0)"><i class="icon-icon36"></i>Вход</a>
                    <a class="entrance" href="javasccript:void(0)"><i class="icon-icon5"></i>Регистрация</a>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                    <span></span>
                    </span>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form action="">
                        <input type="search">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav>
                        <ul>
                            <li class="active"><a href="javasccript:void(0)">Специалисты</a></li>
                            <li><a href="javasccript:void(0)">Организации</a></li>
                            <li><a href="javasccript:void(0)">События</a></li>
                            <li><a href="javasccript:void(0)">Магазин</a></li>
                            <li><a href="javasccript:void(0)">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="javacript:void(0)">Главная</a></li>
                <li><a href="javacript:void(0)">Магазин</a></li>
                <li><a href="javacript:void(0)">Фототехника</a></li>
                <li><span>Olympus OM-D E-M10 Mark III</span></li>
            </ul>
        </div>
    </div>

    <section class="score-product">
        <div class="container">
            <div class="score-product-content clearfix">
                <div class="score-product-text product-height">
                    <h3>Olympus OM-D E-M10 Mark III</h3>
                    <div class="product-slider product-height">
                        <div class="product-for">
                            <img src="../img/product-for-item.png" alt="">
                        </div>
                        <div class="product-nav">
                            <div class="product-nav-item">
                                <img src="../img/product-item-img1.png" alt="">
                            </div>
                            <div class="product-nav-item">
                                <img src="../img/product-item-img1.png" alt="">
                            </div>
                            <div class="product-nav-item">
                                <img src="../img/product-item-img1.png" alt="">
                            </div>
                            <div class="product-nav-item">
                                <img src="../img/product-item-img1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="sum">
                        <span>47 500 RUB</span>
                        <a href="jabascript:void(0)">21 объявление пользователя</a>
                    </div>
                    <ul>
                        <li><a href="javasctip:void(0)"><strong><i class="icon-phone-1"></i>Показать телефон</strong></a></li>
                        <li><a href="javasctip:void(0)"><strong><i class="icon-mail"></i>Написать сообщение</a></strong>
                        </li>
                        <li><span><i class="icon-icon3"></i></span></li>
                    </ul>
                    <div class="seller">
                        <a class="oplz" href="jabascript:void(0)">21 объявление пользователя</a>
                        <p>Продавец: <a href="javascript:void(0)">Иван Иванов</a></p>
                    </div>
                    <div class="reviews">
                        <p>Иван Иванов (5826 <i class="icon-icon1"></i> )</p>
                        <p>Положительных отзывов 100% </p>
                    </div>
                    <div class="address">
                        <span>Адрес</span>
                        <p>Россия, Московская обл. г. Москва</p>
                    </div>
                </div>
                <div class="product-description">
                    <p>Матрица CMOS 22.3 x 14.9 мм, 24.2 Мп / поддержка карт памяти SD/SDHC/SDXC / LCD-дисплей 3" / Full HD-видео / Wi-Fi / питание от литий-ионного аккумулятора / 131 x 76.2 x 99.9 мм, 540 г (с объективом)</p>
                </div>
            </div>
            <div class="similar-products">
                <h6>Похожие товары</h6>
                <div class="similar-slider">
                    <div class="slider-item">
                        <div class="similar-items">
                            <a href="javascript:void(0)"></a>
                            <div class="img">
                                <img src="../img/product-item-img1.png" alt="">
                            </div>
                            <div class="similar-text">
                                <h3>Olympus OM-D E-M10 Mark III</h3>
                                <p>47 500 RUB</p>
                                <span>Новосибирск</span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="similar-items">
                            <a href="javascript:void(0)"></a>
                            <div class="img">
                                <img src="../img/product-item-img2.png" alt="">
                            </div>
                            <div class="similar-text">
                                <h3>Nikon D3400</h3>
                                <p>26 500 RUB</p>
                                <span>Новосибирск</span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="similar-items">
                            <a href="javascript:void(0)"></a>
                            <div class="img">
                                <img src="../img/product-item-img3.png" alt="">
                            </div>
                            <div class="similar-text">
                                <h3>Sony Alpha A7 III</h3>
                                <p>150 500 RUB</p>
                                <span>Новосибирск</span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="similar-items">
                            <a href="javascript:void(0)"></a>
                            <div class="img">
                                <img src="../img/product-item-img1.png" alt="">
                            </div>
                            <div class="similar-text">
                                <h3>Olympus OM-D E-M10 Mark III</h3>
                                <p>47 500 RUB</p>
                                <span>Новосибирск</span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="similar-items">
                            <a href="javascript:void(0)"></a>
                            <div class="img">
                                <img src="../img/product-item-img2.png" alt="">
                            </div>
                            <div class="similar-text">
                                <h3>Nikon D3400</h3>
                                <p>26 500 RUB</p>
                                <span>Новосибирск</span>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="similar-items">
                            <a href="javascript:void(0)"></a>
                            <div class="img">
                                <img src="../img/product-item-img3.png" alt="">
                            </div>
                            <div class="similar-text">
                                <h3>Sony Alpha A7 III</h3>
                                <p>150 500 RUB</p>
                                <span>Новосибирск</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="javascript:void(0)"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="javascript:void(0)">Специалисты</a></li>
                            <li><a href="javascript:void(0)">Организации</a></li>
                            <li><a href="javascript:void(0)">События</a></li>
                            <li><a href="javascript:void(0)">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/score.min.js"></script>
</body>

</html>